// Place all the styles related to the pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body {
  //background-image: url('/bg_collage.jpg');
  //background-color: white;
//}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
//  background-color: red;
//  padding-left: 50px;
  justify-content: space-between;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  font-color: red;
}

.block {
  display: flex;
  flex-direction: column;
}
//body {
//  display: flex;
//  justify-content: space-between;
//  flex-wrap: wrap;
//}

body::after {
  content: "";
  background-image: url('/bg_collage.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  line-height: 60px;
  text-align: center;
}


h1 {
  display:inline-block;
  color: darkblue;
  margin: 10px;
  font-size: 60px;
  font-family: 'Share Tech Mono', monospace;
}

h3 {
  color: darkblue;
  font-family: 'Share Tech Mono', monospace;
}

p {
  color: black;
  font-size: 20px;
//  font-family: 'Share Tech Mono', monospace;
  font-family: 'Helvetica', sans-serif;
}

a:link, a:active, a,:visited {
  color: darkblue;
}
